# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Virtual Envs
env/
venv/

firebase-service-account.json

# Environment variables
.env

# Node / Chrome extension
node_modules/
extension/node_modules/

# Editor junk
.vscode/
.DS_Store
